@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&family=Secular+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
*/
body {
  background-color: #012935;
  color: white;
  height: 100vh;
}

.index {
  background-image: url(../assets/img/portada-index.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 5.1rem 1fr 8.1rem;
}

.servicios {
  background-image: url(../assets/img/servicios/portada_servicios.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 5.1rem 1fr 8.1rem;
}

.contacto {
  background-image: url(../assets/img/contacto/portada_contacto.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 5.1rem 1fr 8.6rem;
}

.nosotros {
  background-image: url(../assets/img/nosotros/portada_nosotros.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 5.1rem 1fr 8.6rem;
}

.perfil {
  background-image: url(../assets/img/mi-perfil/portada_perfil.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 5.1rem 1fr 8.1rem;
}

.main_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  padding: 1rem;
  width: 100%;
  height: 50%;
  background-color: #012935;
}

nav #toggle, nav label {
  display: none;
}

.reparapp {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
.reparapp b {
  color: #f9b812;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.625rem;
  font-size: 1.25rem;
}
.navbar li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
.navbar li a .foto-perfil {
  width: 50px;
  vertical-align: bottom;
}
.navbar .selectionbotton {
  color: #f9b812;
  font-family: "Roboto", sans-serif;
}

.index .main_index {
  background-color: rgba(0, 0, 0, 0.643);
  height: 76.5vh;
}
.index .main_index h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  padding: 1.8rem 1.25rem;
  align-self: center;
  text-align: start;
  margin: 0px 0px;
}
.index .main_index h2 b {
  color: #f9b812;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.index .main_index h3 {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  padding-left: 1.875rem;
  margin: 2rem 0rem 2.5rem 0rem;
}
.index .main_index .profesionales_lista {
  margin-top: 6.25rem;
}
.index .main_index .profesionales_lista .contenedor-profesionales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-content: center;
}
.index .main_index .profesionales_lista .profesional {
  text-align: center;
  gap: 1rem;
}
.index .main_index .profesionales_lista .profesional img {
  width: 9.375rem;
}
.index .main_index .profesionales_lista .profesional h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.index .main_index .profesionales_lista .profesional p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.index .main_index .profesionales_lista .profesional:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.servicios .main_servicios {
  height: 76.5vh;
  background-color: rgba(0, 0, 0, 0.643);
}
.servicios .main_servicios h2 {
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  padding: 40px 20px;
}
.servicios .main_servicios .servicios_lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  align-self: center;
  margin: 35px 20px 35px 20px;
}
.servicios .main_servicios .servicios_lista div section:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
.servicios .main_servicios .servicios_lista div section img {
  width: 8rem;
}
.servicios .main_servicios .section2service {
  font-size: 1.5rem;
  text-align: center;
  justify-self: center;
  align-self: flex-start;
  margin: 35px 0px 35px 0px;
}
.servicios .main_servicios .section2service h3 {
  font-family: "Roboto", sans-serif;
  margin: 10px 0px;
}
.servicios .main_servicios .section2service p {
  font-family: "Roboto", sans-serif;
}
.servicios .main_servicios .boton {
  justify-self: center;
  text-align: center;
  margin: 40px 0px 10px 0px;
}
.servicios .main_servicios .boton section button {
  font-size: 1.5rem;
  background-color: #f9b812;
  border-style: none;
  border-radius: 1.25rem;
  padding: 0.9375rem 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.servicios .main_servicios .boton section button:hover {
  transform: scale(1.1);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(255, 255, 255, 0.377);
}

.contacto .main_contacto {
  height: 76.5vh;
  background-color: rgba(0, 0, 0, 0.643);
}
.contacto .main_contacto main h2 {
  font-size: 1.875rem;
  padding: 1.25rem 1.25rem;
  font-family: "Roboto", sans-serif;
  margin: 2rem 2rem;
}
.contacto .main_contacto main .datos_contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  font-size: 1.5625rem;
  margin: 3rem 0rem;
}
.contacto .main_contacto main .datos_contacto section .whatsapp {
  display: flex;
  flex-direction: row;
}
.contacto .main_contacto main .datos_contacto section .whatsapp p {
  padding-top: 0.75rem;
  padding-left: 0.625rem;
  margin-top: 0.625rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.contacto .main_contacto main .datos_contacto section .whatsapp img {
  width: 4.375rem;
}
.contacto .main_contacto main .datos_contacto section .email {
  display: flex;
  flex-direction: row;
}
.contacto .main_contacto main .datos_contacto section .email p {
  padding-top: 0.75rem;
  padding-left: 0.625rem;
  font-family: "Roboto", sans-serif;
}
.contacto .main_contacto main .datos_contacto section .email img {
  padding-bottom: 0.125rem;
  width: 4.375rem;
}
.contacto .main_contacto main .datos_contacto section .instagram {
  display: flex;
  flex-direction: row;
}
.contacto .main_contacto main .datos_contacto section .instagram p {
  padding-top: 0.75rem;
  padding-left: 0.9375rem;
  font-family: "Roboto", sans-serif;
}
.contacto .main_contacto main .datos_contacto section .instagram img {
  width: 3.75rem;
}
.contacto .main_contacto main .contenedor-formulario {
  margin: 2rem 0rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}
.contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
  padding: 0.625rem 6.25rem 0.625rem 0.3125rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form .input-nombre {
  margin-bottom: 1.25rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form .input-apellido {
  margin-bottom: 0.3125rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
  padding: 0.625rem 6.25rem 0.625rem 0.3125rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form .input-correo {
  margin-bottom: 1.25rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form .input-telefono {
  margin-bottom: 0.3125rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
  margin-bottom: 10px;
  padding: 0.3125rem 3.125rem 0.3125rem 0.3125rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .boton-enviar button {
  padding: 1.2rem 3.75rem;
  border-radius: 0.625rem;
  border-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #f9b812;
}
.contacto .main_contacto main .contenedor-formulario .formulario .boton-enviar button:hover {
  transform: scale(1.1);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(255, 255, 255, 0.377);
}

.nosotros .main_nosotros {
  height: 76.5vh;
  background-color: rgba(0, 0, 0, 0.773);
}
.nosotros .main_nosotros h2 {
  padding: 1.875rem 1.25rem 1.25rem 1.25rem;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
}
.nosotros .main_nosotros .conteiner_subtitulo {
  margin: 10px 10px 0px 10px;
}
.nosotros .main_nosotros .conteiner_subtitulo h3 {
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  color: #f9b812;
  text-align: center;
}
.nosotros .main_nosotros .texto_principal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 0.2rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin: 1.25rem 0.5rem 1.8rem 0.5rem;
}
.nosotros .main_nosotros .texto_principal p {
  margin: 10px 0px 0px 0px;
}
.nosotros .main_nosotros button {
  font-weight: bold;
  justify-items: center;
  text-align: center;
  background-color: #f9b812;
  margin: 1rem 15rem 0rem 15rem;
  padding: 20px 20px;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 1.25rem;
  color: #012935;
}
.nosotros .main_nosotros button:hover {
  transform: scale(1.1);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(255, 255, 255, 0.377);
}

.perfil .main_perfil {
  height: 76vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, 10.57rem);
  background-color: rgba(0, 0, 0, 0.773);
  font-family: "Roboto", sans-serif;
}
.perfil .main_perfil .foto_perfil {
  grid-column: 1/2;
  grid-row: 1/5;
  padding: 1.25rem 3.75rem;
}
.perfil .main_perfil .foto_perfil img {
  width: 25rem;
}
.perfil .main_perfil .datos_perfil {
  grid-column: 2/3;
  grid-row: 1/4;
  justify-content: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.25rem;
}
.perfil .main_perfil .datos_perfil .datos {
  font-weight: bold;
  text-decoration: underline;
}
.perfil .main_perfil .cerrar_sesion {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  margin-bottom: 0rem;
  width: 11.25rem;
}
.perfil .main_perfil .cerrar_sesion button {
  font-size: 1.25rem;
  background-color: #f9b812;
  border-style: none;
  border-radius: 1.25rem;
  padding: 0.9375rem 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.perfil .main_perfil .cerrar_sesion button:hover {
  transform: scale(1.1);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(255, 255, 255, 0.377);
}

.footer_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  background-color: #04627E;
  padding: 0.625rem;
}

.navbar_footer_main {
  grid-column: 1/1;
  align-self: center;
}

.navbar_footer {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  padding-left: 1.25rem;
  list-style: none;
}
.navbar_footer li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}
.navbar_footer .selectionbotton {
  color: #f9b812;
  font-family: "Roboto", sans-serif;
}

.ubication {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
.ubication p {
  font-family: "Roboto", sans-serif;
}
.ubication img {
  width: 2.5rem;
}

.social_orden {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3125rem;
}
.social_orden a {
  text-decoration: none;
}
.social_orden .instagram a img {
  width: 3.125rem;
}
.social_orden .whatsapp a img {
  width: 4.0625rem;
}
.social_orden .facebook a img {
  width: 2.8125rem;
}

.social {
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}

.datafiscal {
  grid-column: 4/5;
  justify-self: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: flex-end;
  padding-left: 8.125rem;
}
.datafiscal a {
  list-style: none;
  text-decoration: none;
  color: white;
}

@media (max-width: 1024px) {
  /* ----- Comienza Index ----- */
  .index .main_index {
    height: 85vh;
  }
  .index .main_index h2 {
    font-size: 3rem;
    margin: 0rem 0rem 0rem 0rem;
  }
  .index .main_index h3 {
    margin: 1.25rem 0rem 0.9rem 0rem;
  }
  .index .main_index .profesionales_lista {
    gap: 1rem;
  }
  .index .main_index .profesionales_lista .profesional section img {
    width: 9.375rem;
  }
  .index .footer_section .datafiscal {
    padding-left: 6.25rem;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios .main_servicios .boton {
    margin: 1.25rem 0rem 1.25rem 0rem;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto main .contenedor-formulario .formulario .boton-enviar {
    padding: 0rem 2.5rem 0rem 2.5rem;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros----- */
  .nosotros .main_nosotros {
    height: 86vh;
  }
  .nosotros .main_nosotros .texto_principal button {
    margin: 1rem 6rem 0rem 6rem;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil .main_perfil .foto_perfil {
    padding: 1.25rem 2rem;
  }
  .perfil .main_perfil .datos_perfil {
    padding-left: 0rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }
  .perfil .main_perfil .cerrar_sesion {
    margin-top: 3.5rem;
  }
  .perfil .main_perfil .cerrar_sesion p {
    margin: 10px 0px;
  }
  /* ----- Termina Perfil ----- */
}
@media (max-width: 768px) {
  /* ----- Comienza Index ----- */
  .index .main_index h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .index .main_index h3 {
    text-align: center;
    padding-left: 0rem;
  }
  .index .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .index .footer_section .ubication {
    display: flex;
    flex-direction: column;
  }
  .index .footer_section .social .social_orden {
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }
  .index .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios .main_servicios h2 {
    text-align: center;
  }
  .servicios .main_servicios .servicios_lista {
    justify-content: center;
  }
  .servicios .main_servicios .section2service {
    align-self: center;
    margin: 0rem 1.25rem;
  }
  .servicios .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .servicios .footer_section .ubication {
    display: flex;
    flex-direction: column;
  }
  .servicios .footer_section .social .social_orden {
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }
  .servicios .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto main h2 {
    text-align: center;
    margin: 2rem 0rem;
  }
  .contacto .main_contacto main .datos_contacto {
    margin: 1.5rem 5rem 3rem 5rem;
  }
  .contacto .main_contacto main .formulario .boton-enviar {
    padding: 0rem 2.5rem 0rem 2.5rem;
  }
  .contacto .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .contacto .footer_section .ubication {
    display: flex;
    flex-direction: column;
  }
  .contacto .footer_section .social .social_orden {
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }
  .contacto .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros {
    grid-template-rows: 5.096rem 1fr 8.6rem;
  }
  .nosotros .main_nosotros {
    height: 97vh;
  }
  .nosotros .main_nosotros h2 {
    text-align: center;
  }
  .nosotros .main_nosotros .container_subtitulo {
    margin: 0.625rem 1.875rem 0.625rem 1.875rem;
  }
  .nosotros .main_nosotros .container_subtitulo h3 {
    text-align: center;
  }
  .nosotros .main_nosotros .texto_principal {
    text-align: center;
  }
  .nosotros .main_nosotros button {
    margin: 1.25rem 1.25rem 1.875rem 1.25rem;
  }
  .nosotros .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .nosotros .footer_section .ubication {
    display: flex;
    flex-direction: column;
  }
  .nosotros .footer_section .social .social_orden {
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }
  .nosotros .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil .main_perfil {
    height: 112vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10rem 10rem 10rem 10rem 8rem 8rem 7rem;
  }
  .perfil .main_perfil .foto_perfil {
    grid-column: 1/3;
    justify-self: center;
  }
  .perfil .main_perfil .datos_perfil {
    grid-column: 1/3;
    grid-row: 5/7;
    justify-content: center;
    text-align: center;
  }
  .perfil .main_perfil .cerrar_sesion {
    grid-column: 1/3;
    grid-row: 7/8;
    justify-self: center;
    text-align: center;
    margin: 0.625rem 0rem;
  }
  .perfil .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .perfil .footer_section .ubication {
    display: flex;
    flex-direction: column;
  }
  .perfil .footer_section .social .social_orden {
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }
  .perfil .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Perfil ----- */
}
/*
.footer_section{
  .navbar_footer_main{
    .navbar_footer{
      gap: 0.9375rem;
      padding-left: 1.25rem;
      font-size: 0.9375rem;
    }
  }
  .ubication{
    display: flex;
    flex-direction: column;
  }
  .social{
    .social_orden{
      flex-direction: column;
      align-items: center;
      gap: 0.3125rem;
    }
  }
  .datafiscal{
    padding-left: 1.25rem;
    align-self: center;
  }
}
*/
@media (max-width: 650px) {
  /* ----- Comienza Index ----- */
  .index {
    grid-template-rows: 4.75rem 1fr 8.1rem;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios {
    grid-template-rows: 4.75rem 1fr 8.1rem;
  }
  .servicios .main_servicios {
    height: 81vh;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto {
    grid-template-rows: 4.75rem 1fr 8.1rem;
  }
  .contacto .main_contacto {
    height: 103vh;
  }
  .contacto .main_contacto main .datos_contacto {
    margin: 3rem 0rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
    padding: 0.625rem 20rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
    padding: 0.625rem 20rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
    padding: 0.3125rem 14.75rem 0.3125rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .boton-enviar {
    padding: 0rem 2.5rem 0rem 2.5rem;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros {
    grid-template-rows: 4.75rem 1fr 8.1rem;
  }
  .nosotros .main_nosotros {
    height: 108vh;
  }
  .nosotros .main_nosotros .texto_principal button {
    font-size: 1.2rem;
    margin: 1.25rem 1.25rem 1.875rem 1.25rem;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil {
    grid-template-rows: 4.75rem 1fr 8.1rem;
  }
  /* ----- Comienza Menu Hamburguesa ----- */
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
    /*padding: 0.5rem 0;*/
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  .nav_img {
    padding-left: 50px;
  }
  /* ----- Termina Menu Hamburguesa ----- */
}
@media (max-width: 549px) {
  /* ----- Comienza Index ----- */
  .index .main_index {
    height: 110vh;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales {
    margin: 0rem 1.875rem;
  }
  .index .footer_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .index .footer_section .navbar_footer_main {
    text-align: center;
  }
  .index .footer_section .social {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .index .footer_section .social .social_orden {
    flex-direction: row;
    align-items: center;
    gap: 0.9375rem;
  }
  .index .footer_section .datafiscal {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios .main_servicios {
    height: 105vh;
  }
  .servicios .main_servicios .servicios_lista {
    margin: 1.5625rem 0rem 2.1875rem 0rem;
  }
  .servicios .main_servicios .section2service {
    padding: 0rem 0.625rem;
    margin: 0.625rem 0rem;
  }
  .servicios .main_servicios .boton {
    margin: 1.25rem 0rem;
  }
  .servicios .footer_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .servicios .footer_section .navbar_footer_main {
    text-align: center;
  }
  .servicios .footer_section .social {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .servicios .footer_section .social .social_orden {
    flex-direction: row;
    align-items: center;
    gap: 0.9375rem;
  }
  .servicios .footer_section .datafiscal {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
    padding: 0.625rem 15rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
    padding: 0.625rem 15rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
    padding: 0.3125rem 9.75rem 0.3125rem 0.3125rem;
  }
  .contacto .footer_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .contacto .footer_section .navbar_footer_main {
    text-align: center;
  }
  .contacto .footer_section .social {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .contacto .footer_section .social .social_orden {
    flex-direction: row;
    align-items: center;
    gap: 0.9375rem;
  }
  .contacto .footer_section .datafiscal {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros {
    grid-template-rows: 4.75rem 1fr 8.1rem;
  }
  .nosotros .main_nosotros {
    height: 120vh;
  }
  .nosotros .main_nosotros .texto_principal button {
    font-size: 1.2rem;
    margin: 1.25rem 1.25rem 1.875rem 1.25rem;
  }
  .nosotros .footer_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .nosotros .footer_section .navbar_footer_main {
    text-align: center;
  }
  .nosotros .footer_section .social {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .nosotros .footer_section .social .social_orden {
    flex-direction: row;
    align-items: center;
    gap: 0.9375rem;
  }
  .nosotros .footer_section .datafiscal {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  /* ----- Termina Nosotros ----- */
}
@media (max-width: 450px) {
  /* ----- Comienza Index ----- */
  .index .main_index {
    height: 185vh;
  }
  .index .main_index h2 {
    font-size: 2rem;
    text-align: center;
  }
  .index .main_index h3 {
    text-align: center;
  }
  .index .main_index .profesionales_lista {
    margin-top: 4rem;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales {
    margin: 0rem 5rem;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios .main_servicios {
    height: 108vh;
  }
  .servicios .main_servicios h2 {
    align-self: center;
  }
  .servicios .main_servicios .section2service {
    margin: 1.875rem 0rem;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto {
    height: 125vh;
  }
  .contacto .main_contacto main h2 {
    text-align: center;
  }
  .contacto .main_contacto main .datos_contacto {
    margin: 1.5rem 0rem 3rem 0rem;
  }
  .contacto .main_contacto main .datos_contacto .whatsapp {
    flex-direction: column;
    text-align: center;
  }
  .contacto .main_contacto main .datos_contacto .whatsapp p {
    margin-bottom: 2.5rem;
  }
  .contacto .main_contacto main .datos_contacto .email {
    flex-direction: column;
    text-align: center;
  }
  .contacto .main_contacto main .datos_contacto .email p {
    margin-bottom: 2.5rem;
  }
  .contacto .main_contacto main .datos_contacto .instagram {
    flex-direction: column;
    text-align: center;
  }
  .contacto .main_contacto main .datos_contacto .instagram p {
    margin-bottom: 1.25rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
    padding: 0.625rem 10rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
    padding: 0.625rem 10rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
    padding: 0.3125rem 4.75rem 0.3125rem 0.3125rem;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros {
    grid-template-rows: 4.75rem 1fr 8.1rem;
  }
  .nosotros .main_nosotros {
    height: 138vh;
  }
  .nosotros .main_nosotros .texto_principal button {
    font-size: 1.2rem;
    margin: 1.25rem 1.25rem 1.875rem 1.25rem;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil .main_perfil {
    height: 98vh;
    grid-template-rows: 8rem 8rem 8rem 8rem 8rem 8rem 7rem;
  }
  .perfil .main_perfil .foto_perfil {
    padding: 0rem 0rem;
    margin-top: 0.9375rem;
  }
  .perfil .main_perfil .foto_perfil img {
    width: 20rem;
  }
  .perfil .main_perfil .datos_perfil {
    margin: 0rem 1.5625rem;
  }
  /* ----- Termina Perfil ----- */
}
@media (max-width: 375px) {
  /* ----- Comienza Index ----- */
  .index .main_index {
    height: 185vh;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales {
    margin: 0rem 5rem;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales .profesional {
    width: 12.5rem;
  }
  .index .footer_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .index .footer_section .navbar_footer_main {
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 1.25rem 0rem;
  }
  .index .footer_section .navbar_footer_main .navbar_footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 3.125rem;
    justify-content: center;
  }
  .index .footer_section .ubication {
    grid-column: 1/1;
    grid-row: 2/3;
    margin: 1.25rem 0rem;
  }
  .index .footer_section .social {
    grid-column: 1/1;
    grid-row: 3/4;
    margin: 1.25rem 0rem;
  }
  .index .footer_section .datafiscal {
    grid-column: 1/1;
    grid-row: 4/5;
    margin: 1.25rem 0rem;
    justify-items: center;
    padding-left: 0rem;
  }
  .index .footer_section .datafiscal section a p {
    text-align: center;
  }
  /* ----- Termina Index ----- */
}

/*# sourceMappingURL=style.css.map */
