@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&family=Secular+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
*/
body {
  background-color: #012935;
  color: white;
  width: 100%;
  height: 100vh;
}

.index {
  background-image: url(../assets/img/portada-index-c.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.125rem 1fr 8.5625rem;
}

.servicios {
  background-image: url(../assets/img/servicios/portada_servicios-c.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.125rem 1fr 8.5625rem;
}

.contacto {
  background-image: url(../assets/img/contacto/portada_contacto-c.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nosotros {
  background-image: url(../assets/img/nosotros/portada_nosotros-c.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.125rem 1fr 8.5625rem;
}

.perfil {
  background-image: url(../assets/img/mi-perfil/portada_perfil-c.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.125rem 1fr 8.5625rem;
}

header {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 5.3125rem;
  padding: 0 1.5625rem;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  position: relative;
  background-color: #012935;
  transition: all 0.5s;
}

header .logo {
  display: flex;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  border-radius: 0.625rem;
}

header .logo a a {
  display: block;
  padding: 0rem 0rem 0.625rem 0rem;
  transition: all 0.5s;
}

header .logo a img {
  display: block;
  height: 3rem;
  width: 100%;
  filter: invert(0);
  transition: all 0.5s;
}

header .marca {
  position: relative;
  align-self: center;
  font-weight: 700;
  font-size: 2.1875rem;
  filter: invert(0);
  transition: all 0.5s;
  padding: 0rem 0rem 0rem 0.625rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

header .marca b {
  font-weight: bold;
  font-size: 2.1875rem;
  color: #f9b812;
  filter: invert(0);
}

header .navigation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  font-family: "Roboto", sans-serif;
  padding-top: 0.8375rem;
}
header .navigation .selectionbotton {
  color: #f9b812;
}

header .navigation .checkbtn {
  font-size: 3rem;
  float: right;
  height: 4.0625rem;
  cursor: pointer;
  display: none;
}

header .navigation #check {
  display: none;
}

header .navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  z-index: 1;
  transition: all 0.5s;
  float: right;
  margin-right: 1.25rem;
}

header .navigation ul li {
  display: flex;
  padding-left: 0.75rem;
  transition: 0.5s;
}

header .navigation ul li a {
  display: block;
  font-size: 1.25rem;
  list-style: none;
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}

header .navigation ul li a:hover {
  color: #ededed;
}

header .navigation ul .main-menu__link {
  position: relative;
  transition: all 0.4s;
}

header .navigation ul ::after {
  content: "";
  height: 0.125rem;
  width: 100%;
  position: absolute;
  right: 0rem;
  bottom: -0.3125rem;
  opacity: 0;
  transition: all 0.35s ease;
  pointer-events: none;
}

header .navigation ul .active {
  font-size: 1.25rem;
  color: #f9b812;
}

header .navigation ul .main-menu__link:hover::after,
header .navigation ul .main-menu__link:focus::after {
  opacity: 1;
}

/*.main_navbar{
  @include flex (row,none,space-between,center,none);
  margin: auto auto;
  padding: 1rem;
  width: 100%;
  height: 5.125rem;
  background-color: $background-sitio;
}

nav #toggle, nav label{
  display: none;
}

.reparapp{
  font-family: $roboto;
  font-size: 2rem;
  transition: all 0.5s;
  b{
    color: $color-selectiontext;
    font-weight: bold;
    font-family: $roboto;
    transition: all 0.5s;
  }
}

.navbar{
  list-style: none;
  @include flex (row,none,none,flex-end,0.625rem);
  font-size: 1.25rem;
  background-color: $background-sitio;
  li{
    a{
      text-decoration: none;
      color: $color-texto;
      font-family: $roboto;
      .foto-perfil{
        width: 3.125rem;
        vertical-align: bottom;
      }
    }
  }
  .selectionbotton{
    color: $color-selectiontext;
    font-family: $roboto;
  }
}*/
.index .main_index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 7.475rem);
  background-color: rgba(0, 0, 0, 0.643);
}
.index .main_index h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  padding: 1.8rem 1.25rem 0rem 1.25rem;
  align-self: center;
  text-align: start;
  transition: all 0.5s;
}
.index .main_index h2 b {
  color: #f9b812;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.index .main_index h3 {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: end;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  padding-left: 1.875rem;
  transition: all 0.5s;
}
.index .main_index .profesionales_lista {
  grid-column: 1/4;
  grid-row: 3/7;
  margin: 0rem 0rem 0.125rem 0rem;
  align-self: center;
}
.index .main_index .profesionales_lista .contenedor-profesionales {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
  grid-template-rows: none;
  padding-inline: 2.5rem;
  gap: 1.5rem;
  transition: all 0.5s;
}
.index .main_index .profesionales_lista .profesional {
  text-align: center;
  gap: 1rem;
}
.index .main_index .profesionales_lista .profesional img {
  width: 9.375rem;
}
.index .main_index .profesionales_lista .profesional h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.index .main_index .profesionales_lista .profesional p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.index .main_index .profesionales_lista .profesional:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.servicios .main_servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 7.475rem);
  background-color: rgba(0, 0, 0, 0.643);
  background-color: rgba(0, 0, 0, 0.643);
}
.servicios .main_servicios h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  padding: 2.5rem 1.25rem;
  transition: all 0.5s;
}
.servicios .main_servicios .servicios_lista {
  grid-column: 1/4;
  grid-row: 2/4;
  justify-content: center;
  align-self: center;
  padding-inline: 2.5rem;
  transition: all 0.5s;
}
.servicios .main_servicios .servicios_lista section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: none;
  gap: 1.5rem;
}
.servicios .main_servicios .servicios_lista section div {
  justify-self: center;
}
.servicios .main_servicios .servicios_lista section div img {
  width: 8rem;
}
.servicios .main_servicios .servicios_lista section .profesional:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
.servicios .main_servicios .section2service {
  grid-column: 1/4;
  grid-row: 4/5;
  font-size: 1.5rem;
  text-align: center;
  justify-self: center;
  align-self: flex-start;
}
.servicios .main_servicios .section2service h3 {
  font-family: "Roboto", sans-serif;
  margin: 0.625rem 0rem;
  transition: all 0.5s;
}
.servicios .main_servicios .section2service p {
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.servicios .main_servicios .boton {
  margin: 2.5rem 0rem 0.625rem 0rem;
  grid-column: 2/3;
  grid-row: 5/6;
  justify-self: center;
  text-align: center;
}
.servicios .main_servicios .boton button {
  font-size: 1.5rem;
  background-color: #f9b812;
  border-style: none;
  border-radius: 1.25rem;
  padding: 0.9375rem 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  transition: all 0.5s;
}
.servicios .main_servicios .boton button:hover {
  transform: scale(1.1);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(255, 255, 255, 0.377);
}

.contacto .main_contacto {
  height: 76.4vh;
  background-color: rgba(0, 0, 0, 0.643);
}
.contacto .main_contacto main h2 {
  font-size: 1.875rem;
  padding: 3rem 3rem;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.contacto .main_contacto main .contenedor-formulario {
  margin: 2rem 0rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  gap: 1.25rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
  padding: 0.625rem 6.25rem 0.625rem 0.3125rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form .input-nombre {
  margin-bottom: 1.25rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form .input-apellido {
  margin-bottom: 0.3125rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
  padding: 0.625rem 6.25rem 0.625rem 0.3125rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form .input-correo {
  margin-bottom: 1.25rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form .input-telefono {
  margin-bottom: 0.3125rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
  margin-bottom: 10px;
  padding: 0.3125rem 3.125rem 0.3125rem 0.3125rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.contacto .main_contacto main .contenedor-formulario .formulario .boton-enviar button {
  padding: 1.2rem 3.75rem;
  border-radius: 0.625rem;
  border-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #f9b812;
}
.contacto .main_contacto main .contenedor-formulario .formulario .boton-enviar button:hover {
  transform: scale(1.1);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(255, 255, 255, 0.377);
}
.contacto .main_contacto main .padre_contacto {
  margin-top: 10rem;
}
.contacto .main_contacto main .padre_contacto .datos_contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5625rem;
}
.contacto .main_contacto main .padre_contacto .datos_contacto .whatsapp, .contacto .main_contacto main .padre_contacto .datos_contacto .instagram {
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
}
.contacto .main_contacto main .padre_contacto .datos_contacto .whatsapp p, .contacto .main_contacto main .padre_contacto .datos_contacto .instagram p {
  padding-top: 0.75rem;
  padding-left: 0.625rem;
  margin-top: 0.625rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.contacto .main_contacto main .padre_contacto .datos_contacto .whatsapp img, .contacto .main_contacto main .padre_contacto .datos_contacto .instagram img {
  width: 4.375rem;
}
.contacto .main_contacto main .padre_contacto .datos_contacto .email {
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
}
.contacto .main_contacto main .padre_contacto .datos_contacto .email p {
  padding-top: 0.75rem;
  padding-left: 0.625rem;
  font-family: "Roboto", sans-serif;
}
.contacto .main_contacto main .padre_contacto .datos_contacto .email img {
  padding-bottom: 0.125rem;
  width: 4.375rem;
}
.contacto .main_contacto main .padre_contacto .datos_contacto .instagram p {
  margin-top: 0rem;
}
.contacto .main_contacto main .padre_contacto .datos_contacto .instagram img {
  width: 3.75rem;
}

.nosotros .main_nosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 5.65rem);
  background-color: rgba(0, 0, 0, 0.773);
}
.nosotros .main_nosotros h2 {
  grid-column: 1/4;
  grid-row: 1/2;
  padding: 1.875rem 1.25rem 1.25rem 1.25rem;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.nosotros .main_nosotros .conteiner_subtitulo {
  grid-column: 1/4;
  grid-row: 2/3;
}
.nosotros .main_nosotros .conteiner_subtitulo h3 {
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  color: #f9b812;
  text-align: center;
  transition: all 0.5s;
}
.nosotros .main_nosotros .texto_principal {
  grid-column: 1/4;
  grid-row: 3/6;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin: 0rem 5rem;
}
.nosotros .main_nosotros .texto_principal .parrafos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.5s;
}
.nosotros .main_nosotros button {
  grid-column: 1/4;
  grid-row: 7/9;
  font-weight: bold;
  justify-items: center;
  text-align: center;
  background-color: #f9b812;
  padding: 1.25rem 1.25rem;
  margin: 3rem 13rem 3rem 13rem;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 1.25rem;
  color: #012935;
  transition: all 0.5s;
}
.nosotros .main_nosotros button:hover {
  transform: scale(1.1);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(255, 255, 255, 0.377);
}

.perfil .main_perfil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 7.475rem);
  background-color: rgba(0, 0, 0, 0.773);
  font-family: "Roboto", sans-serif;
}
.perfil .main_perfil .foto_perfil {
  grid-column: 1/2;
  grid-row: 1/5;
  padding: 1.25rem 3.75rem;
  transition: all 0.5s;
}
.perfil .main_perfil .foto_perfil img {
  width: 25rem;
}
.perfil .main_perfil .datos_perfil {
  grid-column: 2/4;
  grid-row: 2/5;
  justify-content: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  gap: 1.25rem;
  font-size: 1.25rem;
  transition: all 0.5s;
}
.perfil .main_perfil .datos_perfil .datos {
  font-weight: bold;
  text-decoration: underline;
}
.perfil .main_perfil .cerrar_sesion {
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: center;
  width: 11.25rem;
  transition: all 0.5s;
}
.perfil .main_perfil .cerrar_sesion button {
  font-size: 1.25rem;
  background-color: #f9b812;
  border-style: none;
  border-radius: 1.25rem;
  padding: 0.9375rem 0.9375rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.perfil .main_perfil .cerrar_sesion button:hover {
  transform: scale(1.1);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(255, 255, 255, 0.377);
}

.footer_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1.6875rem);
  background-color: #04627E;
  height: 8.5625rem;
  transition: all 0.5s;
}
.footer_section .navbar_footer_main {
  grid-column: 1/2;
  grid-row: 1/6;
  align-self: center;
}
.footer_section .navbar_footer_main .navbar_footer {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  gap: 0.3125rem;
  padding-left: 1.25rem;
  list-style: none;
}
.footer_section .navbar_footer_main .navbar_footer li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}
.footer_section .navbar_footer_main .navbar_footer .selectionbotton {
  color: #f9b812;
  font-family: "Roboto", sans-serif;
}
.footer_section .ubication {
  grid-column: 2/3;
  grid-row: 1/6;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.footer_section .ubication a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}
.footer_section .ubication a img {
  width: 2.5rem;
}
.footer_section .social {
  grid-column: 3/4;
  grid-row: 1/6;
  align-self: center;
  justify-self: center;
}
.footer_section .social .social_orden {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: 0.3125rem;
}
.footer_section .social .social_orden a {
  text-decoration: none;
}
.footer_section .social .social_orden .instagram a img {
  width: 3.125rem;
}
.footer_section .social .social_orden .whatsapp a img, .footer_section .social .social_orden .contacto .main_contacto main .padre_contacto .datos_contacto .instagram a img, .contacto .main_contacto main .padre_contacto .datos_contacto .footer_section .social .social_orden .instagram a img {
  width: 4.0625rem;
}
.footer_section .social .social_orden .facebook a img {
  width: 2.8125rem;
}
.footer_section .datafiscal {
  grid-column: 4/5;
  grid-row: 1/6;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: flex-end;
  align-items: none;
  gap: none;
  padding-left: 8.125rem;
}
.footer_section .datafiscal a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.footer_section .datafiscal a p {
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1024px) {
  /* ----- Comienza Index ----- */
  .index .main_index h2 {
    grid-column: 1/4;
    justify-content: center;
    font-size: 3rem;
    transition: all 0.5s;
  }
  .index .main_index h3 {
    grid-column: 1/4;
    justify-content: center;
    transition: all 0.5s;
  }
  .index .main_index .profesionales_lista {
    gap: 1rem;
  }
  .index .main_index .profesionales_lista .profesional section img {
    width: 9.375rem;
  }
  .index .footer_section .datafiscal {
    padding-left: 6.25rem;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios .main_servicios h2 {
    grid-column: 1/4;
  }
  .servicios .main_servicios .servicios_lista {
    grid-row: 2/5;
  }
  .servicios .main_servicios .section2service {
    grid-row: 5/6;
  }
  .servicios .main_servicios .boton {
    grid-row: 6/7;
    margin: 1rem 0rem 1rem 0rem;
  }
  .servicios .footer_section .datafiscal {
    padding-left: 6.25rem;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto main .contenedor-formulario .formulario .boton-enviar {
    padding: 0rem 2.5rem 0rem 2.5rem;
  }
  .contacto .main_contacto main .padre_contacto {
    margin-top: 5rem;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros----- */
  .nosotros .main_nosotros {
    grid-template-rows: repeat(7, 8rem);
  }
  .nosotros .main_nosotros .contenedor_subtitulo {
    align-self: center;
  }
  .nosotros .main_nosotros .texto_principal {
    grid-row: 3/7;
    align-self: center;
  }
  .nosotros .main_nosotros button {
    grid-row: 7/8;
    align-self: center;
    margin: 3rem 5rem;
  }
  .nosotros .footer_section .datafiscal {
    padding-left: 6.25rem;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil .main_perfil .foto_perfil {
    padding: 1.25rem 2rem;
  }
  .perfil .main_perfil .datos_perfil {
    margin-right: 1rem;
  }
  .perfil .main_perfil .cerrar_sesion {
    margin-top: 3.5rem;
  }
  .perfil .main_perfil .cerrar_sesion p {
    margin: 0.625rem 0rem;
  }
  /* ----- Termina Perfil ----- */
}
@media (max-width: 768px) {
  /* ----- Comienza Index ----- */
  .index {
    grid-template-rows: 5.125rem 1fr 15rem;
  }
  .index .main_index h2 {
    font-size: 2.5rem;
    text-align: center;
    transition: all 0.5s;
  }
  .index .main_index h3 {
    text-align: center;
    transition: all 0.5s;
    padding-left: 0rem;
    align-self: center;
    transition: all 0.5s;
  }
  .index .footer_section {
    height: 15rem;
    grid-template-rows: repeat(5, 3rem);
  }
  .index .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .index .footer_section .ubication {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .index .footer_section .social .social_orden {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.3125rem;
  }
  .index .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios {
    grid-template-rows: 5.125rem 1fr 15rem;
  }
  .servicios .main_servicios h2 {
    text-align: center;
  }
  .servicios .main_servicios .servicios_lista {
    justify-content: center;
  }
  .servicios .main_servicios .section2service {
    align-self: center;
    margin: 0rem 1.25rem;
  }
  .servicios .footer_section {
    height: 15rem;
    grid-template-rows: repeat(5, 3rem);
  }
  .servicios .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .servicios .footer_section .ubication {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .servicios .footer_section .social .social_orden {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.3125rem;
  }
  .servicios .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto {
    height: 85vh;
  }
  .contacto .main_contacto main h2 {
    text-align: center;
  }
  .contacto .main_contacto main .datos_contacto {
    margin: 0rem 5rem 3rem 5rem;
  }
  .contacto .main_contacto main .formulario .boton-enviar {
    padding: 0rem 2.5rem 0rem 2.5rem;
  }
  .contacto .footer_section {
    height: 15rem;
    grid-template-rows: repeat(5, 3rem);
  }
  .contacto .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .contacto .footer_section .ubication {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .contacto .footer_section .social .social_orden {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.3125rem;
  }
  .contacto .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros {
    grid-template-rows: 5.125rem 1fr 15rem;
  }
  .nosotros .main_nosotros h2 {
    text-align: center;
    align-self: center;
  }
  .nosotros .main_nosotros .conteiner_subtitulo {
    align-self: center;
    margin: 0rem 2.5rem;
  }
  .nosotros .main_nosotros .conteiner_subtitulo h3 {
    text-align: center;
  }
  .nosotros .main_nosotros .texto_principal {
    grid-row: 3/7;
    text-align: center;
    align-self: center;
    margin: 0rem 2rem;
  }
  .nosotros .main_nosotros button {
    grid-row: 7/8;
    font-size: 1.2rem;
    margin: 1rem 2rem;
  }
  .nosotros .footer_section {
    height: 15rem;
    grid-template-rows: repeat(5, 3rem);
  }
  .nosotros .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .nosotros .footer_section .ubication {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .nosotros .footer_section .social .social_orden {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.3125rem;
  }
  .nosotros .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil {
    grid-template-rows: 5.125rem 1fr 15rem;
  }
  .perfil .main_perfil {
    grid-template-rows: repeat(6, 10rem);
  }
  .perfil .main_perfil .foto_perfil {
    grid-column: 1/4;
    justify-self: center;
  }
  .perfil .main_perfil .datos_perfil {
    grid-column: 1/4;
    grid-row: 5/7;
    justify-content: center;
    text-align: center;
  }
  .perfil .main_perfil .cerrar_sesion {
    grid-column: 2/3;
    grid-row: 7/8;
    justify-self: center;
    text-align: center;
    margin: 0.625rem 0rem 1.5rem 0rem;
  }
  .perfil .footer_section {
    height: 15rem;
    grid-template-rows: repeat(5, 3rem);
  }
  .perfil .footer_section .navbar_footer_main .navbar_footer {
    gap: 0.9375rem;
    padding-left: 1.25rem;
    font-size: 0.9375rem;
  }
  .perfil .footer_section .ubication {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .perfil .footer_section .social .social_orden {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.3125rem;
  }
  .perfil .footer_section .datafiscal {
    padding-left: 1.25rem;
    align-self: center;
  }
  /* ----- Termina Perfil ----- */
  /* ----- Comienza Menu Hamburguesa ----- */
  header .logo a img {
    height: 2.8rem;
    transition: all 0.5s;
  }
  header .marca {
    font-size: 35px;
    transition: all 0.5s;
  }
  header .marca b {
    font-size: 35px;
    transition: all 0.5s;
  }
  header .navigation .menu {
    flex-direction: column;
    background-color: #04627E;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    list-style: none;
    transition: all 0.5s;
  }
  header .navigation .checkbtn {
    display: block;
    position: sticky;
  }
  header .navigation ul {
    position: absolute;
    width: 100%;
    height: 210px;
    top: 84px;
    left: -105%;
    text-align: center;
    transition: all 0.5s;
  }
  header .navigation ul li {
    display: block;
    margin: 10px 0;
    line-height: 20px;
  }
  header .navigation ul li a {
    font-size: 20px;
    color: white;
  }
  header .navigation ul li .active {
    font-size: 20px;
    transition: all 0.5s;
  }
  header .navigation #check:checked ~ ul {
    left: 0;
  }
  /* ----- Termina Menu Hamburguesa ----- */
}
@media (max-width: 650px) {
  /* ----- Comienza Index ----- */
  .index .main_index {
    grid-template-rows: repeat(7, 9rem);
  }
  .index .main_index .profesionales_lista {
    grid-row: 3/8;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales {
    padding-inline: 4.8rem;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios {
    grid-template-rows: 5.125rem 1fr 8.1rem;
  }
  .servicios .main_servicios {
    grid-template-rows: repeat(6, 7.475rem);
  }
  .servicios .main_servicios .servicios_lista {
    grid-row: 2/5;
  }
  .servicios .main_servicios .section2service {
    grid-row: 5/6;
    margin-bottom: 1rem;
  }
  .servicios .main_servicios .boton {
    grid-column: 1/4;
    grid-row: 6/7;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto {
    height: 108vh;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
    padding: 0.625rem 20rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
    padding: 0.625rem 20rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
    padding: 0.3125rem 14.75rem 0.3125rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .boton-enviar {
    padding: 0rem 2.5rem 0rem 2.5rem;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros .main_nosotros {
    grid-template-rows: repeat(9, 7rem);
  }
  .nosotros .main_nosotros .texto_principal {
    grid-row: 3/9;
  }
  .nosotros .main_nosotros button {
    grid-row: 9/10;
    font-size: 1rem;
    margin: 1rem 4rem;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  /* ----- Termina Perfil ----- */
}
@media (max-width: 549px) {
  /* ----- Comienza Index ----- */
  .index {
    grid-template-rows: 5.125rem 1fr 17rem;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales {
    margin: 0rem 0rem 0.125rem 0rem;
  }
  .index .footer_section {
    height: 17rem;
    grid-template-rows: repeat(5, 3.5rem);
  }
  .index .footer_section .navbar_footer_main {
    grid-column: 1/3;
    grid-row: 1/4;
    text-align: center;
  }
  .index .footer_section .social {
    grid-column: 1/3;
    grid-row: 4/6;
  }
  .index .footer_section .social .social_orden {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.9375rem;
  }
  .index .footer_section .ubication {
    grid-column: 3/5;
    grid-row: 4/6;
  }
  .index .footer_section .datafiscal {
    grid-column: 3/5;
    grid-row: 1/4;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios {
    grid-template-rows: 5.125rem 1fr 17rem;
  }
  .servicios .main_servicios {
    grid-template-rows: repeat(9, 7rem);
  }
  .servicios .main_servicios .servicios_lista {
    grid-row: 2/7;
    padding-inline: 3.7rem;
  }
  .servicios .main_servicios .section2service {
    grid-row: 7/9;
    padding: 0rem 0.625rem;
    margin: 0.625rem 0rem;
  }
  .servicios .main_servicios .boton {
    grid-row: 9/10;
    margin: 1.25rem 0rem;
  }
  .servicios .footer_section {
    height: 17rem;
    grid-template-rows: repeat(5, 3.5rem);
  }
  .servicios .footer_section .navbar_footer_main {
    grid-column: 1/3;
    grid-row: 1/4;
    text-align: center;
  }
  .servicios .footer_section .social {
    grid-column: 1/3;
    grid-row: 4/6;
  }
  .servicios .footer_section .social .social_orden {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.9375rem;
  }
  .servicios .footer_section .ubication {
    grid-column: 3/5;
    grid-row: 4/6;
  }
  .servicios .footer_section .datafiscal {
    grid-column: 3/5;
    grid-row: 1/4;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto {
    height: 112vh;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
    padding: 0.625rem 10rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
    padding: 0.625rem 10rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
    padding: 0.3125rem 4.75rem 0.3125rem 0.3125rem;
  }
  .contacto .footer_section {
    height: 19rem;
    grid-template-rows: repeat(5, 3.5rem);
  }
  .contacto .footer_section .navbar_footer_main {
    grid-column: 1/3;
    grid-row: 1/4;
    text-align: center;
  }
  .contacto .footer_section .social {
    grid-column: 1/3;
    grid-row: 4/6;
  }
  .contacto .footer_section .social .social_orden {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.9375rem;
  }
  .contacto .footer_section .ubication {
    grid-column: 3/5;
    grid-row: 4/6;
  }
  .contacto .footer_section .datafiscal {
    grid-column: 3/5;
    grid-row: 1/4;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros {
    grid-template-rows: 5.125rem 1fr 17rem;
  }
  .nosotros .main_nosotros {
    grid-template-rows: repeat(9, 7.5rem);
  }
  .nosotros .main_nosotros .conteiner_subtitulo {
    margin: 0rem 0.5rem;
  }
  .nosotros .main_nosotros .conteiner_subtitulo .subtitulo {
    font-size: 1.5rem;
  }
  .nosotros .main_nosotros .texto_principal {
    grid-row: 3/9;
    margin: 0rem 1rem;
  }
  .nosotros .main_nosotros button {
    grid-row: 9/10;
    font-size: 1rem;
    margin: 1rem 1rem;
  }
  .nosotros .footer_section {
    height: 17rem;
    grid-template-rows: repeat(5, 3.5rem);
  }
  .nosotros .footer_section .navbar_footer_main {
    grid-column: 1/3;
    grid-row: 1/4;
    text-align: center;
  }
  .nosotros .footer_section .social {
    grid-column: 1/3;
    grid-row: 4/6;
  }
  .nosotros .footer_section .social .social_orden {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.9375rem;
  }
  .nosotros .footer_section .ubication {
    grid-column: 3/5;
    grid-row: 4/6;
  }
  .nosotros .footer_section .datafiscal {
    grid-column: 3/5;
    grid-row: 1/4;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil {
    grid-template-rows: 5.125rem 1fr 17rem;
  }
  .perfil .footer_section {
    height: 17rem;
    grid-template-rows: repeat(5, 3.5rem);
  }
  .perfil .footer_section .navbar_footer_main {
    grid-column: 1/3;
    grid-row: 1/4;
    text-align: center;
  }
  .perfil .footer_section .social {
    grid-column: 1/3;
    grid-row: 4/6;
  }
  .perfil .footer_section .social .social_orden {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 0.9375rem;
  }
  .perfil .footer_section .ubication {
    grid-column: 3/5;
    grid-row: 4/6;
  }
  .perfil .footer_section .datafiscal {
    grid-column: 3/5;
    grid-row: 1/4;
  }
  /* ----- Termina Perfil ----- */
}
@media (max-width: 478px) {
  /* ----- Comienza Index ----- */
  .index .main_index h2 {
    font-size: 2rem;
    text-align: center;
    transition: all 0.5s;
  }
  .index .main_index h3 {
    text-align: center;
    transition: all 0.5s;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales {
    padding-inline: 1.5rem;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios .main_servicios {
    grid-template-rows: repeat(9, 7rem);
  }
  .servicios .main_servicios h2 {
    align-self: center;
  }
  .servicios .main_servicios .servicios_lista {
    padding-inline: 1rem;
    gap: 0.5rem;
  }
  .servicios .main_servicios .section2service {
    margin: 2.5rem 0rem;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto {
    height: 135vh;
  }
  .contacto .main_contacto main h2 {
    text-align: center;
  }
  .contacto .main_contacto main .padre_contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .contacto .main_contacto main .padre_contacto .datos_contacto {
    margin: 0rem 1.01em;
  }
  .contacto .main_contacto main .padre_contacto .datos_contacto .whatsapp, .contacto .main_contacto main .padre_contacto .datos_contacto .instagram {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
    text-align: center;
  }
  .contacto .main_contacto main .padre_contacto .datos_contacto .whatsapp p, .contacto .main_contacto main .padre_contacto .datos_contacto .instagram p {
    margin-bottom: 2.5rem;
  }
  .contacto .main_contacto main .padre_contacto .datos_contacto .email {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
    text-align: center;
  }
  .contacto .main_contacto main .padre_contacto .datos_contacto .email p {
    margin-bottom: 2.5rem;
  }
  .contacto .main_contacto main .padre_contacto .datos_contacto .instagram {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: none;
  }
  .contacto .main_contacto main .padre_contacto .datos_contacto .instagram p {
    margin-bottom: 1.25rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
    padding: 0.625rem 10rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
    padding: 0.625rem 10rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
    padding: 0.3125rem 4.75rem 0.3125rem 0.3125rem;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros .main_nosotros {
    grid-template-rows: repeat(10, 9rem);
  }
  .nosotros .main_nosotros .conteiner_subtitulo {
    margin: 0rem 2rem;
  }
  .nosotros .main_nosotros .texto_principal {
    grid-row: 3/10;
    margin: 0rem 1.5rem;
  }
  .nosotros .main_nosotros .texto_principal .parrafos {
    gap: 25px;
  }
  .nosotros .main_nosotros button {
    grid-row: 10/11;
    font-size: 1rem;
    margin: 1.25rem 1.25rem 1.875rem 1.25rem;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil .main_perfil .foto_perfil {
    grid-row: 1/5;
    align-self: center;
  }
  .perfil .main_perfil .foto_perfil img {
    width: 20rem;
  }
  .perfil .main_perfil .datos_perfil {
    margin: 0rem 1.5625rem;
  }
  /* ----- Termina Perfil ----- */
}
@media (max-width: 375px) {
  header {
    padding: 0rem 1.5625rem 0rem 0rem;
  }
  /* ----- Comienza Index ----- */
  .index {
    grid-template-rows: 5.125rem 1fr 32.6875rem;
  }
  .index .main_index {
    grid-template-rows: repeat(12, 8.5rem);
  }
  .index .main_index .profesionales_lista {
    grid-row: 3/13;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales {
    justify-items: center;
    padding-inline: 1.6rem;
  }
  .index .main_index .profesionales_lista .contenedor-profesionales .profesional {
    width: 12.5rem;
  }
  .index .footer_section {
    height: 32.6875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .index .footer_section .navbar_footer_main {
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 1.25rem 0rem;
  }
  .index .footer_section .navbar_footer_main .navbar_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: none;
    gap: none;
    margin: 0rem 3.125rem;
  }
  .index .footer_section .ubication {
    grid-column: 1/1;
    grid-row: 2/3;
    margin: 1.25rem 0rem;
  }
  .index .footer_section .social {
    grid-column: 1/1;
    grid-row: 3/4;
    margin: 1.25rem 0rem;
  }
  .index .footer_section .datafiscal {
    grid-column: 1/1;
    grid-row: 4/5;
    margin: 1.25rem 0rem;
    justify-items: center;
  }
  .index .footer_section .datafiscal section a p {
    text-align: center;
  }
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios {
    grid-template-rows: 5.125rem 1fr 32.6875rem;
  }
  .servicios .footer_section {
    height: 32.6875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .servicios .footer_section .navbar_footer_main {
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 1.25rem 0rem;
  }
  .servicios .footer_section .navbar_footer_main .navbar_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: none;
    gap: none;
    margin: 0rem 3.125rem;
  }
  .servicios .footer_section .ubication {
    grid-column: 1/1;
    grid-row: 2/3;
    margin: 1.25rem 0rem;
  }
  .servicios .footer_section .social {
    grid-column: 1/1;
    grid-row: 3/4;
    margin: 1.25rem 0rem;
  }
  .servicios .footer_section .datafiscal {
    grid-column: 1/1;
    grid-row: 4/5;
    margin: 1.25rem 0rem;
    justify-items: center;
    padding-left: 0rem;
  }
  .servicios .footer_section .datafiscal section a p {
    text-align: center;
  }
  /* ----- Termina Servicios ----- */
  /* ----- Comienza Contacto ----- */
  .contacto .main_contacto {
    height: 137vh;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario {
    justify-content: center;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .nombre-apellido form input {
    padding: 0.625rem 7rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .email-telefono form input {
    padding: 0.625rem 7rem 0.625rem 0.3125rem;
  }
  .contacto .main_contacto main .contenedor-formulario .formulario .mensaje textarea {
    padding: 0.3125rem 2rem 0.3125rem 0.3125rem;
  }
  .contacto .footer_section {
    height: 32.6875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .contacto .footer_section .navbar_footer_main {
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 1.25rem 0rem;
  }
  .contacto .footer_section .navbar_footer_main .navbar_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: none;
    gap: none;
    margin: 0rem 3.125rem;
  }
  .contacto .footer_section .ubication {
    grid-column: 1/1;
    grid-row: 2/3;
    margin: 1.25rem 0rem;
  }
  .contacto .footer_section .social {
    grid-column: 1/1;
    grid-row: 3/4;
    margin: 1.25rem 0rem;
  }
  .contacto .footer_section .datafiscal {
    grid-column: 1/1;
    grid-row: 4/5;
    margin: 1.25rem 0rem;
    justify-items: center;
    padding-left: 0rem;
  }
  .contacto .footer_section .datafiscal section a p {
    text-align: center;
  }
  /* ----- Termina Contacto ----- */
  /* ----- Comienza Nosotros ----- */
  .nosotros {
    grid-template-rows: 5.125rem 1fr 32.6875rem;
  }
  .nosotros .main_nosotros {
    grid-template-rows: repeat(11, 9.5rem);
  }
  .nosotros .main_nosotros .texto_principal {
    grid-row: 3/11;
    margin: 0rem 1.5rem;
  }
  .nosotros .main_nosotros .texto_principal .parrafos {
    gap: 25px;
  }
  .nosotros .main_nosotros button {
    grid-row: 11/12;
    font-size: 1.2rem;
    margin: 1rem 1rem;
  }
  .nosotros .footer_section {
    height: 32.6875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .nosotros .footer_section .navbar_footer_main {
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 1.25rem 0rem;
  }
  .nosotros .footer_section .navbar_footer_main .navbar_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: none;
    gap: none;
    margin: 0rem 3.125rem;
  }
  .nosotros .footer_section .ubication {
    grid-column: 1/1;
    grid-row: 2/3;
    margin: 1.25rem 0rem;
  }
  .nosotros .footer_section .social {
    grid-column: 1/1;
    grid-row: 3/4;
    margin: 1.25rem 0rem;
  }
  .nosotros .footer_section .datafiscal {
    grid-column: 1/1;
    grid-row: 4/5;
    margin: 1.25rem 0rem;
    justify-items: center;
    padding-left: 0rem;
  }
  .nosotros .footer_section .datafiscal section a p {
    text-align: center;
  }
  /* ----- Termina Nosotros ----- */
  /* ----- Comienza Perfil ----- */
  .perfil {
    grid-template-rows: 5.125rem 1fr 32.6875rem;
  }
  .perfil .main_perfil {
    grid-template-rows: 8rem 8rem 8rem 8rem 8rem 8rem 9.3rem;
  }
  .perfil .main_perfil .foto_perfil img {
    width: 16rem;
  }
  .perfil .main_perfil .datos_perfil {
    margin: 2rem 1.5625rem;
  }
  .perfil .footer_section {
    height: 32.6875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .perfil .footer_section .navbar_footer_main {
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 1.25rem 0rem;
  }
  .perfil .footer_section .navbar_footer_main .navbar_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: none;
    gap: none;
    margin: 0rem 3.125rem;
  }
  .perfil .footer_section .ubication {
    grid-column: 1/1;
    grid-row: 2/3;
    margin: 1.25rem 0rem;
  }
  .perfil .footer_section .social {
    grid-column: 1/1;
    grid-row: 3/4;
    margin: 1.25rem 0rem;
  }
  .perfil .footer_section .datafiscal {
    grid-column: 1/1;
    grid-row: 4/5;
    margin: 1.25rem 0rem;
    justify-items: center;
    padding-left: 0rem;
  }
  .perfil .footer_section .datafiscal section a p {
    text-align: center;
  }
  /* ----- Termina Perfil ----- */
}

/*# sourceMappingURL=style.css.map */
