@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&family=Secular+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
*/
body {
  background-color: #012935;
  color: white;
}

/* ------ comienza header index ----- */
.main_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 1rem;
  width: 100%;
}
.main_navbar h1 {
  font-family: "Secular One", sans-serif;
}

nav #toggle, nav label {
  display: none;
}

.reparapp b {
  color: #f9b812;
  font-weight: bold;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  font-size: 20px;
}
.navbar li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
.navbar .selectionbottom {
  color: #f9b812;
  font-family: "Roboto", sans-serif;
}

.foto_portada img {
  width: 100%;
}

/* ------ termina header index ----- */
/* ------ comienza header  ----- */
/* -------- Comienza Main Index --------*/
.titulo_index {
  font-family: "Secular One", sans-serif;
  margin: 20px 20px;
}

.main_index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.profesionales_lista {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-content: center;
  margin: 20px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  flex-wrap: wrap;
}
.profesionales_lista .profesional section {
  text-align: center;
  gap: 10px;
}
.profesionales_lista .profesional section img {
  width: 150px;
}

/* -------- Termina Main Index --------*/
/* -------- Comienza el Footer ----- */
.footer_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  background-color: #04627E;
  padding: 10px;
}

.navbar_footer_main {
  grid-column: 1/1;
  align-self: center;
}

.navbar_footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
  list-style: none;
}
.navbar_footer li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.navbar_footer .selectionbotton {
  color: #f9b812;
  font-family: "Roboto", sans-serif;
}

.ubication {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
.ubication p {
  font-family: "Roboto", sans-serif;
}
.ubication img {
  width: 40px;
}

.social_orden {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.social_orden a {
  text-decoration: none;
}
.social_orden .instagram a img {
  width: 50px;
}
.social_orden .whatsapp a img {
  width: 65px;
}
.social_orden .facebook a img {
  width: 45px;
}

.social {
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}

.datafiscal {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: flex-end;
  grid-column: 4/5;
  justify-self: center;
  padding-left: 130px;
}
.datafiscal a {
  list-style: none;
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */