$background-sitio: #012935;
$background-footer: #04627E;
$color-botones: #f9b812;
$color-primario: #012935;
$color-secundario: #f9b812;
$color-selectiontext: #f9b812;
$color-texto: white;
$secular-one: 'Secular One', sans-serif;
$roboto: 'Roboto', sans-serif;
$bg_index: url(../assets/img/portada-index-c.png);
$bg_servicios: url(../assets/img/servicios/portada_servicios-c.png);
$bg_contacto: url(../assets/img/contacto/portada_contacto-c.png);
$bg_nosotros: url(../assets/img/nosotros/portada_nosotros-c.png);
$bg_perfil: url(../assets/img/mi-perfil/portada_perfil-c.png);