@media(max-width: 450px){
  .main_index{
    height: 185vh;
    h2{
      font-size: 2rem;
      text-align: center;
    }
    h3{
      text-align: center;
    }
  }
  .profesionales_lista{
    margin-top: 4rem;
  }
  .contenedor-profesionales{
    margin: 0px 80px;
  }

  .main_servicios{ 
    h2{
      align-self: center;
    }
  }
  .section2service{
    margin: 20px 0px;
  }
  .main_contacto{ 
    main{
      h2{
        text-align: center;
      }
    }
  }
  .datos_contacto{
    .whatsapp{
      flex-direction: column;
      justify-content: center;
      p{
        padding-top: 0px;
        margin-bottom: 40px;
      }
    }
    .email{
      flex-direction: column;
      justify-content: center;
      p{
        padding-top: 0px;
        margin-bottom: 40px;
        padding-left: 0px;
      }    
    }
    .instagram{
      flex-direction: column;
      justify-content: center;
      p{
        padding-top: 0px;
        margin-bottom: 20px;
        padding-left: 0px;
      }
    }
    .titulo_index{
      text-align: center;
    }
  }
  .main_perfil{
    height: 98vh;
    grid-template-rows: 8rem 8rem 8rem 8rem 8rem 8rem 7rem;
    .foto_perfil{
      padding: 0px 0px;
      margin-top: 15px;
      img{
        width: 20rem;
      }
    }
    .datos_perfil{
      margin: 0px 25px;
    }
  }
}