@media(max-width: 375px){
  /* ----- Comienza Index ----- */
  .index{
    grid-template-rows: 4.8rem 1fr 32.7rem;
    .main_index{
      grid-template-rows: repeat(12, 8.5rem);
      .profesionales_lista{
        grid-row: 3 / 13;
        .contenedor-profesionales{
          justify-items: center;
          padding-inline: 1.6rem;
          .profesional{
            width: 12.5rem;
          }
        }
      }
    }
    .footer_section{
      height: 32.6875rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      .navbar_footer_main{
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        margin: 1.25rem 0rem;
        .navbar_footer{
          @include flex(row,wrap,center,none,none);
          margin: 0rem 3.125rem;
        }
      }
      .ubication{
        grid-column: 1 / 1;
        grid-row: 2 / 3;
        margin: 1.25rem 0rem;
      }
      .social{
        grid-column: 1 / 1;
        grid-row: 3 / 4;
        margin: 1.25rem 0rem;
      }
      .datafiscal{
        grid-column: 1 / 1;
        grid-row: 4 / 5;
        margin: 1.25rem 0rem;
        justify-items: center;
        section{
          a{
            p{
              text-align: center;
            }
          }
        }
      }
    }
  }
  /* ----- Termina Index ----- */

  /* ----- Comienza Servicios ----- */
  .servicios{
    .footer_section{
      height: 32.6875rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      .navbar_footer_main{
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        margin: 1.25rem 0rem;
        .navbar_footer{
          @include flex(row,wrap,center,none,none);
          margin: 0rem 3.125rem;
        }
      }
      .ubication{
        grid-column: 1 / 1;
        grid-row: 2 / 3;
        margin: 1.25rem 0rem;
      }
      .social{
        grid-column: 1 / 1;
        grid-row: 3 / 4;
        margin: 1.25rem 0rem;
      }
      .datafiscal{
        grid-column: 1 / 1;
        grid-row: 4 / 5;
        margin: 1.25rem 0rem;
        justify-items: center;
        padding-left: 0rem;
        section{
          a{
            p{
              text-align: center;
            }
          }
        }
      }
    }
  }
  /* ----- Termina Servicios ----- */

    /* ----- Comienza Contacto ----- */
    .contacto{
      .main_contacto{
        height: 128vh;
        main{
          .contenedor-formulario{
            .formulario{
              justify-content: center;
              .nombre-apellido{
                form{
                  input{
                    padding: 0.625rem 7rem 0.625rem 0.3125rem;
                  }
                }
              }
              .email-telefono{
                form{
                  input{
                    padding: 0.625rem 7rem 0.625rem 0.3125rem;
                  }
                }
              }
              .mensaje{
                textarea{
                  padding: 0.3125rem 2rem 0.3125rem 0.3125rem;
                }
              }
            }
          }
        }
      }
      .footer_section{
        height: 32.6875rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        .navbar_footer_main{
          grid-column: 1 / 1;
          grid-row: 1 / 2;
          margin: 1.25rem 0rem;
          .navbar_footer{
            @include flex(row,wrap,center,none,none);
            margin: 0rem 3.125rem;
          }
        }
        .ubication{
          grid-column: 1 / 1;
          grid-row: 2 / 3;
          margin: 1.25rem 0rem;
        }
        .social{
          grid-column: 1 / 1;
          grid-row: 3 / 4;
          margin: 1.25rem 0rem;
        }
        .datafiscal{
          grid-column: 1 / 1;
          grid-row: 4 / 5;
          margin: 1.25rem 0rem;
          justify-items: center;
          padding-left: 0rem;
          section{
            a{
              p{
                text-align: center;
              }
            }
          }
        }
      }
    }
  /* ----- Termina Contacto ----- */

    /* ----- Comienza Nosotros ----- */
    .nosotros{
      .main_nosotros{
        grid-template-rows: repeat(11, 9.5rem);
        .texto_principal{
          grid-row: 3 / 11;
          margin: 0rem 1.5rem;
          .parrafos{
            gap: 25px;
          }
        }
        button{
            grid-row: 11 / 12;
            font-size: 1.2rem;
            margin: 1rem 1rem;
        }
      }
      .footer_section{
        height: 32.6875rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        .navbar_footer_main{
          grid-column: 1 / 1;
          grid-row: 1 / 2;
          margin: 1.25rem 0rem;
          .navbar_footer{
            @include flex(row,wrap,center,none,none);
            margin: 0rem 3.125rem;
          }
        }
        .ubication{
          grid-column: 1 / 1;
          grid-row: 2 / 3;
          margin: 1.25rem 0rem;
        }
        .social{
          grid-column: 1 / 1;
          grid-row: 3 / 4;
          margin: 1.25rem 0rem;
        }
        .datafiscal{
          grid-column: 1 / 1;
          grid-row: 4 / 5;
          margin: 1.25rem 0rem;
          justify-items: center;
          padding-left: 0rem;
          section{
            a{
              p{
                text-align: center;
              }
            }
          }
        }
      }
    }
  /* ----- Termina Nosotros ----- */

    /* ----- Comienza Perfil ----- */
    .perfil{
      .main_perfil{
        grid-template-rows: 8rem 8rem 8rem 8rem 8rem 8rem 9.3rem;
        .foto_perfil{
          img{
            width: 18rem;
          }
        }
        .datos_perfil{
          margin: 2rem 1.5625rem;
        }
      }
      .footer_section{
        height: 32.6875rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        .navbar_footer_main{
          grid-column: 1 / 1;
          grid-row: 1 / 2;
          margin: 1.25rem 0rem;
          .navbar_footer{
            @include flex(row,wrap,center,none,none);
            margin: 0rem 3.125rem;
          }
        }
        .ubication{
          grid-column: 1 / 1;
          grid-row: 2 / 3;
          margin: 1.25rem 0rem;
        }
        .social{
          grid-column: 1 / 1;
          grid-row: 3 / 4;
          margin: 1.25rem 0rem;
        }
        .datafiscal{
          grid-column: 1 / 1;
          grid-row: 4 / 5;
          margin: 1.25rem 0rem;
          justify-items: center;
          padding-left: 0rem;
          section{
            a{
              p{
                text-align: center;
              }
            }
          }
        }
      }
    }
  /* ----- Termina Perfil ----- */
}