@media(max-width: 478px){
  /* ----- Comienza Index ----- */
  .index{
    .main_index{
      h2{
        font-size: 2rem;
        text-align: center;
      }
      h3{
        text-align: center;
      }
      .profesionales_lista{
        .contenedor-profesionales{
          padding-inline: 1.5rem;
        }
      }
    }
  }
  /* ----- Termina Index ----- */

  /* ----- Comienza Servicios ----- */
  .servicios{
    .main_servicios{ 
      height: 100vh;
      h2{
        align-self: center;
      }
      .servicios_lista{
        margin: 0rem 1rem 0rem 1rem;
        gap: 0.5rem;
      }
      .section2service{
        margin: 2.5rem 0rem;
      }
    }
  }
  /* ----- Termina Servicios ----- */

  /* ----- Comienza Contacto ----- */
  .contacto{
    .main_contacto{ 
      height: 130vh;
      main{
        h2{
          text-align: center;
        }
        .datos_contacto{
          margin: 0rem 0rem 0rem 0rem;
          @include flex(column,none,none,none,none);
          section{
            .whatsapp{
              @include flex(column,none,none,none,none);
              text-align: center;
              p{
                margin-bottom: 2.5rem;
              }
            }
            .email{
              @include flex(column,none,none,none,none);
              text-align: center;
              p{
                margin-bottom: 2.5rem;
              }    
            }
            .instagram{
              @include flex(column,none,none,center,none);
              p{
                margin-bottom: 1.25rem;
              }
            }
          }
          
        }
        .contenedor-formulario{
          .formulario{
            .nombre-apellido{
              form{
                input{
                  padding: 0.625rem 10rem 0.625rem 0.3125rem;
                }
              }
            }
            .email-telefono{
              form{
                input{
                  padding: 0.625rem 10rem 0.625rem 0.3125rem;
                }
              }
            }
            .mensaje{
              textarea{
                padding: 0.3125rem 4.75rem 0.3125rem 0.3125rem;
              }
            }
          }
        }
      }
    }
  }
  /* ----- Termina Contacto ----- */

  /* ----- Comienza Nosotros ----- */
  .nosotros{
    grid-template-rows: 4.75rem 1fr 8.1rem;
    .main_nosotros{
      height: 138vh;
      .texto_principal{
        button{
          font-size: 1.2rem;
          margin: 1.25rem 1.25rem 1.875rem 1.25rem;
        }
      }
    }
  }
  /* ----- Termina Nosotros ----- */
  
  /* ----- Comienza Perfil ----- */
  .perfil{
    .main_perfil{
      height: 98vh;
      grid-template-rows: 8rem 8rem 8rem 8rem 8rem 8rem 7rem;
      .foto_perfil{
        padding: 0rem 0rem;
        margin-top: 0.9375rem;
        img{
          width: 20rem;
        }
      }
      .datos_perfil{
        margin: 0rem 1.5625rem;
      }
    }
  }
  /* ----- Termina Perfil ----- */
  
}