@media(max-width: 478px){
  /* ----- Comienza Index ----- */
  .index{
    .main_index{
      h2{
        font-size: 2rem;
        text-align: center;
        transition: all 0.5s;
      }
      h3{
        text-align: center;
        transition: all 0.5s;
      }
      .profesionales_lista{
        .contenedor-profesionales{
          padding-inline: 1.5rem;
        }
      }
    }
  }
  /* ----- Termina Index ----- */

  /* ----- Comienza Servicios ----- */
  .servicios{
    .main_servicios{ 
      grid-template-rows: repeat(9, 7rem);
      h2{
        align-self: center;
      }
      .servicios_lista{
        padding-inline: 1rem;
        gap: 0.5rem;
      }
      .section2service{
        margin: 2.5rem 0rem;
      }
    }
  }
  /* ----- Termina Servicios ----- */

  /* ----- Comienza Contacto ----- */
  .contacto{
    .main_contacto{ 
      height: 130vh;
      main{
        h2{
          text-align: center;
        }
        .padre_contacto{
          @include flex(column,none,none,none,none);
          .datos_contacto{
            margin: 0rem 1.01em;
            .whatsapp{
              @include flex(column,none,none,none,none);
              text-align: center;
              p{
                margin-bottom: 2.5rem;
              }
            }
            .email{
              @include flex(column,none,none,none,none);
              text-align: center;
              p{
                margin-bottom: 2.5rem;
              }    
            }
            .instagram{
              @include flex(column,none,none,center,none);
              p{
                margin-bottom: 1.25rem;
              }
            }
          }
          
        }
        .contenedor-formulario{
          .formulario{
            .nombre-apellido{
              form{
                input{
                  padding: 0.625rem 10rem 0.625rem 0.3125rem;
                }
              }
            }
            .email-telefono{
              form{
                input{
                  padding: 0.625rem 10rem 0.625rem 0.3125rem;
                }
              }
            }
            .mensaje{
              textarea{
                padding: 0.3125rem 4.75rem 0.3125rem 0.3125rem;
              }
            }
          }
        }
      }
    }
  }
  /* ----- Termina Contacto ----- */

  /* ----- Comienza Nosotros ----- */
  .nosotros{
    .main_nosotros{
      grid-template-rows: repeat(10, 9rem);
      .conteiner_subtitulo{
        margin:0rem 3rem;
      }
      .texto_principal{
        grid-row: 3 / 10;
        margin: 0rem 1.5rem;
        .parrafos{
          gap: 25px;
        }
      }
      button{
          grid-row: 10 / 11;
          font-size: 1rem;
          margin: 1.25rem 1.25rem 1.875rem 1.25rem;
      }
    }
  }
  /* ----- Termina Nosotros ----- */
  
  /* ----- Comienza Perfil ----- */
  .perfil{
    .main_perfil{
      .foto_perfil{
        grid-row: 1 / 5;
        align-self: center;
        img{
          width: 20rem;
        }
      }
      .datos_perfil{
        margin: 0rem 1.5625rem;
      }
    }
  }
  /* ----- Termina Perfil ----- */
  
}