@media(max-width:768px){
    .main_index{
        h2{
            font-size: 2.5rem;
            text-align: center;
        }
        h3{
            text-align: center;
            padding-left: 0px;
        }
    }
.footer_section{
    .navbar_footer_main{
        .navbar_footer{
            gap: 15px;
            padding-left: 20px;
            font-size: 15px;
        }
    }
    .ubication{
        display: flex;
        flex-direction: column;
    }
    .social{
        .social_orden{
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }
    .datafiscal{
        padding-left: 20px;
        align-self: center;
    }
}

.main_servicios{
    .servicios_lista{
        justify-content: center;
    }
    .section2service{
        align-self: center;
    }
}

.main_nosotros{
    margin-top: 5%;
    h2{
        text-align: center;
    }
    section{
        .subtitulo{
            text-align: center;
        }
        .texto_principal{
            text-align: center;
            margin: 0px 0px 10px 0px;
        }
        .boton_descarga_nosotros{
            margin: 20px 20% 30px 20%;
        }
    }
}

.main_perfil{
    height: 112vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10rem 10rem 10rem 10rem 8rem 8rem 7rem;
    .foto_perfil{
        grid-column: 1 / 3;
        justify-self: center;
    }
    .datos_perfil{
        grid-column: 1 / 3;
        grid-row: 5 / 7;
        justify-content: center;
        text-align: center;
        
    }
    .cerrar_sesion{
        grid-column: 1 / 3;
        grid-row: 7 / 8;
        justify-self: center;
        text-align: center;
        margin: 10px 0px;
    }
}


.boton-enviar{
    padding: 0px 40px 0px 40px;
}
}