@media(max-width:1024px){
.main_index{
    height: 85vh;
    h2{
        font-size: 3rem;
        margin: 0rem 0rem 0rem 0rem;
    }
    h3{
        margin:1.25rem 0rem 0.9rem 0rem;
    }
    .profesionales_lista{
        gap: 1rem;
        .profesional{
            section{
                img{
                    width: 9.375rem;
                }
            }
        }
    }
    }
    .datafiscal{
        padding-left: 100px;
    }
    .main_perfil{
        .foto_perfil{
            padding: 1.25rem 2rem;
        }
        .datos_perfil{
            padding-left: 0rem;
            margin-right: 1rem;
            margin-bottom: 0rem;
        }
        .cerrar_sesion{
            margin-top: 3.5rem;
            p{
                margin: 10px 0px;
            }
        }
    }
    .boton-enviar{
        padding: 0px 40px 0px 40px;
    }

    .nosotros{
        
    }
}