@media(max-width:650px){
  /* ----- Comienza Index ----- */
  .index{
    grid-template-rows: 4.75rem 1fr 8.1rem;
    .main_index{
      grid-template-rows: repeat(7, 9rem);
      .profesionales_lista{
        grid-row: 3 / 8;
        .contenedor-profesionales{
          padding-inline: 4.8rem;
        }
      }
    }
  } 
  /* ----- Termina Index ----- */
  /* ----- Comienza Servicios ----- */
  .servicios{
    grid-template-rows: 5.125rem 1fr 8.1rem;
    .main_servicios{
      grid-template-rows: repeat(6, 7.475rem);
      .servicios_lista{
        grid-row: 2 / 5;
      }
      .section2service{
        grid-row: 5 / 6;
        margin-bottom: 1rem;
      }
      .boton{
        grid-column: 1 / 4;
        grid-row: 6 / 7;
      }
    }
    
  }
  /* ----- Termina Servicios ----- */

  /* ----- Comienza Contacto ----- */
  .contacto{
    grid-template-rows: 4.75rem 1fr 8.1rem;
    .main_contacto{
      height: 103vh;
      main{
        .contenedor-formulario{
          .formulario{
            .nombre-apellido{
              form{
                input{
                  padding: 0.625rem 20rem 0.625rem 0.3125rem;
                }
              }
            }
            .email-telefono{
              form{
                input{
                  padding: 0.625rem 20rem 0.625rem 0.3125rem;
                }
              }
            }
            .mensaje{
              textarea{
                padding: 0.3125rem 14.75rem 0.3125rem 0.3125rem;
              }
            }
            .boton-enviar{
              padding: 0rem 2.5rem 0rem 2.5rem;
            }
          }
        }
      }
    }
  }
  /* ----- Termina Contacto ----- */

  /* ----- Comienza Nosotros ----- */
  .nosotros{
    .main_nosotros{
      grid-template-rows: repeat(9, 7rem);
      .texto_principal{
        grid-row: 3 / 9;
      }
      button{
        grid-row: 9 / 10;
        font-size: 1rem;
        margin: 1rem 4rem;
      }
    }
  }
  /* ----- Termina Nosotros ----- */
  
  /* ----- Comienza Perfil ----- */

  /* ----- Termina Perfil ----- */

  /* ----- Comienza Menu Hamburguesa ----- */
  nav .menu{
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .menu ul{
    @include flex(column,none,none,center,none);
  }

  nav label{
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu{
    height: 100%;
  }
  .nav_img{
    padding-left: 50px;
  } 
  /* ----- Termina Menu Hamburguesa ----- */
  
}
