body{
  background-color: $background-sitio;
  color: $color-texto;
  width: 100%;
  height: 100vh;
}

.index{
  background-image: $bg_index;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.125rem 1fr 8.5625rem;
}

.servicios{
  background-image: $bg_servicios;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.125rem 1fr 8.5625rem;
}

.contacto{
  background-image: $bg_contacto;
  background-size: cover;
  background-repeat: no-repeat;
}

.nosotros{
  background-image: $bg_nosotros;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.125rem 1fr 8.5625rem;
}

.perfil{
  background-image: $bg_perfil;
  background-size: cover;
  background-repeat: no-repeat;
}