.footer_section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1.6875rem);
  background-color: $background-footer;
  height: 8.5625rem;
  transition: all 0.5s;
  .navbar_footer_main{
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    align-self: center;
    .navbar_footer{
      @include flex (column,none,none,none,0.3125rem);
      padding-left: 1.25rem;
      list-style: none;
      li{
        a{
          text-decoration: none;
          color: $color-texto;
          font-size: 1.25rem;
          font-family: $roboto;
        }
      }
      .selectionbotton{
        color:$color-secundario;
        font-family: $roboto;
      }
    }
  }
  .ubication{
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    align-self: center;
    justify-content: center;
    @include flex (row,none,center,center,0.625rem);
    font-size: 1.25rem;
    font-family: $roboto;
    p{
      font-family: $roboto;
    }
    img{
      width: 2.5rem;
    }
  }
  .social{
    grid-column: 3 / 4;
    grid-row: 1 / 6;
    align-self: center;
    justify-self: center;
    .social_orden{
      @include flex (row,none,none,center,0.3125rem);
      a{
        text-decoration: none;
      }
      .instagram{
        a{
          img{
            width: 3.125rem;
          }
        }
      }
      .whatsapp{
        a{
          img{
            width: 4.0625rem;
          }
        }
      }
      .facebook{
        a{
          img{
            width: 2.8125rem;
          }
        }
      }
    }
  }
  .datafiscal{
    grid-column: 4 / 5;
    grid-row: 1 / 6;
    align-self: center;
    justify-self: center;
    @include flex (column,none,flex-end,none,none);
    padding-left: 8.125rem;
    a{
      list-style: none;
      text-decoration: none;
      color: $color-texto;
      p{
        font-family: $roboto;
      }
    }
  }
}