.main_navbar{
  @include flex (row,none,space-between,center,none);
  margin: auto auto;
  padding: 1rem;
  width: 100%;
  height: 50%;
  background-color: $background-sitio;
}

nav #toggle, nav label{
  display: none;
}

.reparapp{
  font-family: $roboto;
  font-size: 2rem;
  b{
    color: $color-selectiontext;
    font-weight: bold;
    font-family: $roboto;
  }
}

.navbar{
  list-style: none;
  @include flex (row,none,none,flex-end,0.625rem);
  font-size: 1.25rem;
  li{
    a{
      text-decoration: none;
      color: $color-texto;
      font-family: $roboto;
      .foto-perfil{
        width: 3.125rem;
        vertical-align: bottom;
      }
    }
  }
  .selectionbotton{
    color: $color-selectiontext;
    font-family: $roboto;
  }
}