header {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 5.3125rem;
  padding: 0 1.5625rem;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  position: relative;
  background-color:$color-primario;
  transition: all 0.5s; 
}

header .logo {
  display: flex;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  border-radius: .625rem; 
}

header .logo a {
  a{
      display: block;
      padding: 0rem 0rem 0.625rem 0rem;
      transition: all 0.5s;
  }
}

header .logo a img {
  display: block;
  height: 3rem;
  width: 100%;
  filter: invert(0);
  transition: all 0.5s; 
}

header .marca {
  position: relative;
  align-self: center;
  font-weight: 700;
  font-size: 2.1875rem;
  filter: invert(0);
  transition: all 0.5s;
  padding: 0rem 0rem 0rem 0.625rem;
  text-decoration: none; 
  font-family: $roboto;
}

header .marca b {
  font-weight: bold;
  font-size: 2.1875rem;
  color: $color-secundario;
  filter: invert(0); 
}

header .navigation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  font-family: $roboto;
  padding-top: 0.8375rem;
}

header .navigation .checkbtn {
  font-size: 3rem;
  float: right;
  height: 4.0625rem;
  cursor: pointer;
  display: none; 
}

header .navigation #check {
  display: none; 
}

header .navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  z-index: 1;
  transition: all 0.5s;
  float: right;
  margin-right: 1.25rem;
}

header .navigation ul li {
  display: flex;
  padding-left: .75rem;
  transition: 0.5s; 
}

header .navigation ul li a {
  display: block;
  font-size: 1.25rem;
  list-style: none;
  text-decoration: none;
  color:$color-texto;
  font-weight: bold; 
  transition: all 0.2s;
}

header .navigation ul li a:hover {
  color: #ededed; 
}
header .navigation ul .main-menu__link {
  position: relative;
  transition: all 0.4s; 
}
header .navigation ul ::after {
  content: "";
  height: 0.125rem;
  width: 100%;
  position: absolute;
  right: 0rem;
  bottom: -0.3125rem;
  opacity: 0;
  transition: all 0.35s ease;
  pointer-events: none; 
}
header .navigation ul .active {
  font-size: 1.25rem;
  color: $color-secundario; 
}
header .navigation ul .main-menu__link:hover::after,
header .navigation ul .main-menu__link:focus::after {
  opacity: 1;
}




























































































































/*.main_navbar{
  @include flex (row,none,space-between,center,none);
  margin: auto auto;
  padding: 1rem;
  width: 100%;
  height: 5.125rem;
  background-color: $background-sitio;
}

nav #toggle, nav label{
  display: none;
}

.reparapp{
  font-family: $roboto;
  font-size: 2rem;
  transition: all 0.5s;
  b{
    color: $color-selectiontext;
    font-weight: bold;
    font-family: $roboto;
    transition: all 0.5s;
  }
}

.navbar{
  list-style: none;
  @include flex (row,none,none,flex-end,0.625rem);
  font-size: 1.25rem;
  background-color: $background-sitio;
  li{
    a{
      text-decoration: none;
      color: $color-texto;
      font-family: $roboto;
      .foto-perfil{
        width: 3.125rem;
        vertical-align: bottom;
      }
    }
  }
  .selectionbotton{
    color: $color-selectiontext;
    font-family: $roboto;
  }
}*/