/* ------ comienza header index ----- */ 

.main_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    padding: 1rem;
    width: 100%;
    height: 50%;
}

nav #toggle, nav label{
    display: none;
}

.reparapp{
    font-family: $roboto;
    font-size: 2rem;
    b{
        color: $color-selectiontext;
        font-weight: bold;
        font-family: $roboto;
    }
}

.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    font-size: 20px;
    li{
        a{
            text-decoration: none;
            color: $color-texto;
            font-family: $roboto;
            .foto-perfil{
                width: 50px;
                vertical-align: bottom;
            }
        }
    }
    .selectionbotton {
        color: $color-selectiontext;
        font-family: $roboto;
    }
}

.foto_portada{
    img{
        width: 100%;
    }
}

    /* ------ termina header index ----- */ 

/* ------ comienza header  ----- */ 