.index{
  .main_index{
    background-color:rgba(0, 0, 0, 0.643);
    height: 76vh;
    h2{
      font-family: $roboto;
      font-size: 3rem;
      padding: 1.8rem 1.25rem;
      align-self: center;
      text-align:start;
      margin:0px 0px;
      b{
        color: $color-selectiontext;
        font-weight: bold;
        font-family: $roboto;
      }
    }
    h3{
      font-size: 1.7rem;
      font-family: $roboto;
      padding-left: 1.875rem;
      margin:2rem 0rem 2.5rem 0rem;
    }
    .profesionales_lista{
      margin-top: 5.5rem;
      .contenedor-profesionales{
        @include flex (row,wrap,center,center,1.5625rem);
        /*display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5625rem;
        align-content: center;*/
      }
      .profesional{
        text-align: center;
        gap: 1rem;
        img{
          width: 9.375rem;
        }
        h4{
          font-family: $roboto;
          font-size: 1.5rem;
        }
        p{
          font-family: $roboto;
          font-size: 1rem;
        }
      }
      .profesional:hover{
        transform: scale(1.3);
        transition: 0.5s;
      }
    }
  }
}


