.main_servicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); 
    h2{
        font-size: 30px;
        text-align: center;
        margin: 30px 0px 20px 0px;
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        justify-content: center;
        font-family: $roboto;
    }
    .section2service{
        grid-column: 1 / 1 ;
        grid-row: 4 / 5;
        font-size: 20px;
        text-align: center;
        justify-self: center;
        align-self: flex-start;
        padding-bottom: 0px;
        h3{
            font-family: $roboto;
        }
        p{
            font-family: $roboto;
        }
    }
    .boton{
        grid-column: 1 / 1 ;
        grid-row: 5 / 6;
        justify-self: center;
        align-items: center;
        text-align: center;
    }
    .boton{
        .boton_descarga{
            button{
                font-size: 20px;
                background-color: $color-botones;
                border-style: none;
                border-radius: 20px;
                width: auto;
                margin-bottom: 20px;
                padding: 15px 15px;
                font-family: $roboto;
                font-weight: bold;
                }
            .button:hover{
                transform: scale(1.1);
                box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.377);
            }
            }
        }
    }
.servicios_lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    grid-column: 1 / 1;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
    margin-top: 0px;
    div{
        section{
            img{
                width: 100px;
            }
        }
    }
}